<div class="home-container">
  <div class="inner-home-container">
    <%= render "home/header" %>

    <div class="container">
      <div class="column">
        <%= render "home/card",
        locals: {
          type: "white",
          title: "About me",
          text: @about_text
        } %>
      </div>
      <div class="column">
        <%= render "home/card",
        locals: {
          type: "white",
          title: "About me",
          text: @about_text
        } %></div>
    </div>

    <%= render "home/card",
    locals: {
      type: "color",
      title: "Passionate About",
      text: @intro_text
    } %>
    <%= render "home/card", locals: { type: "white", title: "Other", text: @other_text } %>

    <%= render "home/card",
    locals: {
      type: "color",
      title: "Research",
      text: @research_text
    } %>

    <%= render "home/card", locals: { type: "white", title: "Other", text: @other_text } %>

    <div class="container">
      <div class="column">
        <%= render "home/card",
        locals: {
          type: "color",
          title: "Resume",
          text: "View my resume here"
        } %>
      </div>
      <div class="column">
        <%= render "home/card",
        locals: {
          type: "color",
          title: "Document",
          text: "Download sample document ehre"
        } %>
      </div>
    </div>
  </div>
</div>
