<div class="home-container">
  <div class="inner-home-container">
    <%= render "home/header" %>

    <div class="container">
      <div class="column">
        <%= render "home/card",
        locals: {
          type: "top",
          title: "About me",
          text: @about_text
        } %>
      </div>
      <div class="column">
        <%= render "home/card",
        locals: {
          type: "top",
          title: "About me",
          text: @about_text
        } %></div>

    </div>

    <%= render "home/card",
    locals: {
      type: "middle-white",
      title: "Passionate About",
      text: @intro_text
    } %>
    <%= render "home/card",
    locals: {
      type: "bottom",
      title: "Other",
      text: @other_text
    } %>
    <%= render "home/card",
    locals: {
      type: "middle-white",
      title: "Research",
      text: @research_text
    } %>

    <div class="downloads-container">
      <div class="download-card">
        d
      </div>
      <div class="download-card">
        d
      </div>
    </div>
  </div>
</div>
